<br>  
<div class="jumbotron">
  <h1 class="display-3"> <%= @team.name %></h1>
  <% if !@team.players.empty? %>
  <p class="lead"> Highlight-worthy performances by <%= @team.players[0].name%> make this team a tough one to beat.  <%= @team.name%> has <%= @team.winning_games.count%> win(s) and <%= @team.losing_games.count%> loss(es) thusfar this season.   </p>
  <% else %>
  <p class="lead"> If <%= @team.name%> is going to be a fantasy champion this year, this team is going to need some players...  </p>

  <% end %>
  <h1> Record: </h1>
  <h1> <%= @team.winning_games.count%> - <%= @team.losing_games.count%></h1>
<h1> Owner: <% @team.users.each do |user| %>

  <div class="card border-success mb-3" style="max-width: 20rem;">
  <div class="card-body">
  <h4 class="card-title"> Team Owner:</h4>

    <h4 class="card-title"><%=  link_to "#{user.full_name}", user_path(user) %></h4>

  </div>
  </div>

</h1>
 <% end %>

  <div>
  <h1> Players:</h1>
  </div>    
<% if @team.players %>
<table class="table table-hover">

  <thead>
  <tbody>
    <tr class="table-active">
      <th scope="row"> Name</th>
      <td>Position</td>
      <td>NFL TEAM</td>
      <td>Projected Season Points</td>

      <% if @team.users.include?(@current_user) %>
      <td>Release<td>
      <% end %>


      </tbody>


    </tr>
    <% @team.players.each do |player| %>

    <tr>
      <th scope="col"><%= link_to "#{player.name}", player_path(player)  %></th>
      <th scope="col"><%= player.position %></th>
      <th scope="col"><%= player.nfl_team %></th>
      <th scope="col"><%= player.projected_points %> Points</th>
      <% if @team.users.include?(@current_user) %>

      <th scope="col"><%= link_to "Release Player", release_path(player)  %> </th>
      <% end %>

      <% end %>

    </tr>

  </thead>
 
</table> 
<% end %>
<% if @team.players == nil %>
<div class="alert alert-dismissible alert-warning">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">THIS TEAM HAS NO PLAYERS</h4>
  <p class="mb-0">To be able to set a lineup for your next matchup, you need to go add some players.</a>.</p>
</div>
<% end %>
<center>
<% if @current_user.teams.include?(@team) %>
<h6><%= link_to "Edit Team", edit_team_path %>  </h6>
<% end %>
</center>
</div>

<% if @current_user.teams.include?(@team) %>
<center>
<%= button_to  "Delete Team", team_path, method: "delete", class: "btn btn-outline-success" %>
<% end %>

</center>