<h1> Name: <%= @team.name %></h1>
<h1> Owner: <%= @team.user.username %></h1>
<h1><%= @current_user.first_name %></h1>

  <div>
  <% if @team.players %>

    <% @team.players.each do |player| %>
    <%= player.name %>
    <%= player.nfl_team %>
    <%= player.projected_points %>
    <% end %>
    no players
  </div>
<% end %>