<h1> Name: <%= @team.name %></h1>
<h1> Owner: <% @team.users.each do |user| %>
 <%= user.username %></h1>
 <% end %>

  <div>
  <% if @team.players %>

    <% @team.players.each do |player| %>
    <%= player.name %>
    <%= player.nfl_team %>
    <%= player.projected_points %>
    <% end %>

    <% if @team.players == nil %>
    <h1> This team has no players </h1>
    <% end %>
  </div>
<% end %>