<h2>Search for NFL players to add to your team:</h2>

<p>Type in the name of a 2020 NFL player, if found they will be added to the available league players. </p>

<br>

<%= form_with(url: search_path, method: "get", local: true) do %>
  <%= label_tag(:player_name, "Enter Player name:") %>
  <%= text_field_tag(:player_name) %>
  <%= submit_tag("Search") %>
<% end %>

<% if @player %>
  <div>
    <%= link_to @player.name, player_path(@player) %> found and added to database


  </div>
<% end %>


<table class="table table-hover">

  <thead>
  <tbody>
    <tr class="table-active">
      <th scope="row">Name</th>
      <td>Position</td>
      <td>NFL TEAM</td>
      <td>Projected Season Points</td>
      <td>Fantasy Team</td>
      <td>Add/release <td>

      </tbody>


    </tr>
    <% @players.each do |player| %>

    <tr>

      <th scope="col"><%= link_to "#{player.name}", player_path(player)  %></th>
      <th scope="col"><%= player.position %></th>
      <th scope="col"><%= player.nfl_team %></th>
      <th scope="col"><%= player.projected_points %> Points</th>
      <% if player.team.name == "Free Agent" %>

      <th scope="col"><%= "#{player.team.name}" %> </th>

      <th scope="col"><%= link_to "Add Player", edit_player_path(player)  %> </th>

      <% else %>
      <th scope="col"><%= link_to "#{player.team.name}", team_path(player.team)  %> </th>

      <% end %>
      <% if @current_user.teams.include?(player.team)  %>
      <th scope="col"><%= link_to "Release Player",  release_path(player)  %> </th>
      <% end %>

      <% end %>

    </tr>

  </thead>
 
</table> 
