<h2>Search for nfl players to add to your team</h2>

<%= form_with(url: search_path, method: "get", local: true) do %>
  <%= label_tag(:player_name, "Enter Player name:") %>
  <%= text_field_tag(:player_name) %>
  <%= submit_tag("Search") %>
<% end %>

<% if @player %>
  <div>
    <%= @player.name %>
    <%= @player.nfl_team %>
    <%= @player.projected_points %>

  </div>
<% end %>



<table class="table table-hover">

  <thead>
  <tbody>
    <tr class="table-active">
      <th scope="row">Name</th>
      <td>Position</td>
      <td>NFL TEAM</td>
      <td>Projected Points</td>
      <td>Fantasy Team</td>
      <td>Add if available <td>

      </tbody>


    </tr>
    <% @players.each do |player| %>

    <tr>

      <th scope="col"><%= player.name %></th>
      <th scope="col"><%= player.position %></th>
      <th scope="col"><%= player.nfl_team %></th>
      <th scope="col"><%= player.projected_points %> Points</th>
      <% if player.team == nil %>

      <th scope="col">Free Agent</th>
      <th scope="col">Add to Team</th>

      <% else %>
      <th scope="col"><%= player.team.name %> </th>

      <% end %>

      <% end %>

    </tr>

  </thead>
 
</table> 
