<h2>Search for NFL players to add to your team:</h2>

<p>Type in the name of a 2020 NFL player, if found they will be added to the available league players. </p>

<br>

<%= form_with(url: search_path, method: "get", local: true) do %>
  <%= label_tag(:player_name, "Enter Player name:") %>
  <%= text_field_tag(:player_name) %>
  <%= submit_tag("Search") %>
<% end %>

<% if @player %>
  <div>
    <%= link_to @player.name, player_path(@player) %> was found in this league database.
  </div>
<% end %>
<%= render '/players/partial2' %>

