
<h1> Competition  <%= @competition.id %></h1>
<h1> Home Team: <%= @competition.home_team.name%></h1>
<h1> Visiting Team: <%= @competition.visitor_team.name %></h1>
<h1> Week <%= @competition.game_week %></h1>

<h1> Game: <%= @competition.game %></h1>
