<br>    
<h1>Create your account</h1>
<div class="jumbotron">
<div class="row">

  <div class="column">
  
   <p> <i class="fa fa-facebook"></i> <%= link_to('Log in with Facebook!', '/auth/facebook') %></p>


  
<%= form_for @user do |f| %>
    <%= f.label  "First Name" %> <br>
    <%= f.text_field :first_name %> <br>
    <%= f.label "Last Name" %> <br>
    <%= f.text_field :last_name %> <br>
    <%= f.label "Email" %> <br>
    <%= f.text_field :email %> <br>
    <%= f.label  "Username" %> <br>
    <%= f.text_field :username %> <br>
    <%= f.label  "password" %> <br>
    <%= f.password_field :password %> <br>
    <%= f.label :admin, "Check box if you are a league commissioner:" %>
    <%= f.check_box :admin %> <br>
    <%= f.submit "Create User" %>
    <% end %>
    </div>
    </div>
</div>
