
<div class="jumbotron">
<div class="row">
<h1> Week <%=@game.competition.game_week %> Matchup</h1>

<div class="container">
<div class="floatLeft">
<table class="table table-hover">
  <thead>
  <tbody>
  <tr class="table-active">
  <td></td>
    <th scope="row"><%=@home_team.name%></th>
    <td></td>
    <td></td>
    </tbody>
  </tr>
  <tbody>
    <tr class="table-active">
      <th scope="row">Name</th>
      <td>Position</td>
      <td>Projected Points</td>
      <td>Actual Points</td>
      </tbody>
    </tr>
    <% @home_players.each_with_index do |player, index| %>
    <tr>
      <th scope="col"><%= link_to "#{player.name}", player_path(player)  %></th>
      <th scope="col"><%= player.position %></th>
      <th scope="col"><%= player.week_projection%> Points</th>
      <th scope="col"><%= @game.send("team1_player#{index+1}_score")%> Points</th>

      <% end %>
    </tr>
    <tr class="table-active">
  <td>Total:</td>
  <td></td>

    <th scope="row"><%= @home_team.total_team_points %> Points </th>
    <th scope="row"><%= @game.team1_total_score %> Points </th>

    </tbody>
  </tr>
  </thead>
</table> 
</div>

<div class="floatRight">
<table class="table table-hover">
  <thead>
  <tbody>
  <tr class="table-active">
  <td></td>
    <th scope="row"><%=@visitor_team.name%></th>
    <td></td>
    <td></td>

    </tbody>
  </tr>
  <tbody>
    <tr class="table-active">
      <th scope="row">Name</th>
      <td>Position</td>
      <td>Projected Points</td>
      <td>Actual Points</td>

      </tbody>
    </tr>
    <% @visitor_players.each_with_index do |player, index| %>
    <tr>
    
      <th scope="col"><%= link_to "#{player.name}", player_path(player)  %></th>
      <th scope="col"><%= player.position %></th>
      <th scope="col"><%= player.week_projection%> Points</th>
      <th scope="col"><%= @game.send("team2_player#{index+1}_score")%> Points</th>
      <% end %>

    </tr>
    <tr class="table-active">
  <td>Total:</td>
  <td></td>


    <th scope="row"><%= @visitor_team.total_team_points %> Points </th>
    <th scope="row"><%= @game.team2_total_score %> Points </th>

    </tbody>
  </tr>
  </thead>
</table> 
</div>
</div>


<% if admin? %>

<%= link_to  "Score Game: ", edit_game_path %>

<% end %>
</div>
<br>
<div style="position: relative; width: 600px; height: 400px;">    

    <% winner = Team.find_by(id: @game.winner_id) %>
    <% if winner %>
    <h2> Champion: <%= winner.name %> </h2>
    <% end %>
    <% if @game.scored == false %>
    <p class="text-danger">This game has not completed scoring</p>
    <% elsif @game.scored == true %>
    <p>This game has completed scoring</p>
    <% end %>


    
    </div>
</div>


