<br>
<div class="jumbotron">
<div class="row">
<p><img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a2/National_Football_League_logo.svg/1200px-National_Football_League_logo.svg.png" alt="Trulli" style="padding: 10px; float:right;width:50px;height:60px;">

  <h1 class="display-6"> NFL Player Profile</h1>  
  </div>
  

  <center>

  <div class="card border-success mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h4 class="card-title">Name: <%= @player.name %></h4>
    <h4 class="card-title">Position: <%= @player.position %></h4>

    <h4 class="card-title">NFL Team: <%= @player.nfl_team %></h4>
    <h4 class="card-title">Projected Points: <%= @player.projected_points %></h4>
    <h4 class="card-title">Fantasy Team: <%= @player.team.name %></h4>
</div>
</div>
</div>
</div>
