<h1>NFL Players</h1>
<p>You can only add players that are free agents. You may only release players that are on one of your user teams.</p>

<p class="text-danger"><%= @error %></p>

<h3>Filter players:</h3>
<%= form_tag("/players", method: "get") do %>
  <%= select_tag "team", options_from_collection_for_select(@teams, "id", "name"), include_blank: true %>
  <%= select_tag "position", options_for_select([ "QB", "RB", "WR", "TE", "K" ]), include_blank: true %>
  <%= submit_tag "Filter" %>
<% end %>

<%= render 'partial2' %>
