<br>
<div class="row">
<p><img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a2/National_Football_League_logo.svg/1200px-National_Football_League_logo.svg.png" alt="Trulli" style="padding: 10px; float:right;width:50px;height:60px;">
  <h1 class="display-6"> NFL Players by Team</h1>  
  <br>
  </div>
  <div class="row">
  <%= button_to "", filter_by_nfl_team_path(:nfl_team => "ARI"), method: "get", class: "btn btn-cardinals"  %>
  <%= button_to "", filter_by_nfl_team_path(:nfl_team => "ATL"), method: "get", class: "btn btn-falcons"  %>
  <%= button_to "", filter_by_nfl_team_path(:nfl_team => "BAL"), method: "get", class: "btn btn-ravens"  %>
  <%= button_to "", filter_by_nfl_team_path(:nfl_team => "BUF"), method: "get", class: "btn btn-bills"  %>
  <%= button_to "", filter_by_nfl_team_path(:nfl_team => "CAR"), method: "get", class: "btn btn-panthers"  %>
</div>
<div class="row">
<%= button_to "", filter_by_nfl_team_path(:nfl_team => "CHI"), method: "get", class: "btn btn-bears"  %>
<%= button_to "", filter_by_nfl_team_path(:nfl_team => "CIN"), method: "get", class: "btn btn-bengals"  %>
<%= button_to "", filter_by_nfl_team_path(:nfl_team => "CLE"), method: "get", class: "btn btn-browns"  %>
<%= button_to "", filter_by_nfl_team_path(:nfl_team => "DAL"), method: "get", class: "btn btn-cowboys"  %>
<%= button_to "", filter_by_nfl_team_path(:nfl_team => "DEN"), method: "get", class: "btn btn-broncos"  %>
</div>
<div class="row">
<%= button_to "", filter_by_nfl_team_path(:nfl_team => "DET"), method: "get", class: "btn btn-lions"  %>
<%= button_to "", filter_by_nfl_team_path(:nfl_team => "GB"), method: "get", class: "btn btn-packers"  %>
<%= button_to "", filter_by_nfl_team_path(:nfl_team => "HOU"), method: "get", class: "btn btn-texans"  %>
<%= button_to "", filter_by_nfl_team_path(:nfl_team => "IND"), method: "get", class: "btn btn-colts"  %>
<%= button_to "", filter_by_nfl_team_path(:nfl_team => "JAX"), method: "get", class: "btn btn-jaguars"  %>
</div>
<div class="row">
<%= button_to "", filter_by_nfl_team_path(:nfl_team => "KC"), method: "get", class: "btn btn-chiefs"  %>
<%= button_to "", filter_by_nfl_team_path(:nfl_team => "LV"), method: "get", class: "btn btn-raiders"  %>
<%= button_to "", filter_by_nfl_team_path(:nfl_team => "LAC"), method: "get", class: "btn btn-chargers"  %>
<%= button_to "", filter_by_nfl_team_path(:nfl_team => "LAR"), method: "get", class: "btn btn-rams"  %>
<%= button_to "", filter_by_nfl_team_path(:nfl_team => "MIA"), method: "get", class: "btn btn-dolphins"  %>
</div>
<div class="row">
<%= button_to "", filter_by_nfl_team_path(:nfl_team => "MIN"), method: "get", class: "btn btn-vikings"  %>
<%= button_to "", filter_by_nfl_team_path(:nfl_team => "NE"), method: "get", class: "btn btn-patriots"  %>
<%= button_to "", filter_by_nfl_team_path(:nfl_team => "NO"), method: "get", class: "btn btn-saints"  %>
<%= button_to "", filter_by_nfl_team_path(:nfl_team => "NYG"), method: "get", class: "btn btn-giants"  %>
<%= button_to "", filter_by_nfl_team_path(:nfl_team => "NYJ"), method: "get", class: "btn btn-jets"  %>
</div>
<div class="row">
<%= button_to "", filter_by_nfl_team_path(:nfl_team => "PHI"), method: "get", class: "btn btn-eagles"  %>
<%= button_to "", filter_by_nfl_team_path(:nfl_team => "PIT"), method: "get", class: "btn btn-steelers"  %>
<%= button_to "", filter_by_nfl_team_path(:nfl_team => "SF"), method: "get", class: "btn btn-49ers"  %>
<%= button_to "", filter_by_nfl_team_path(:nfl_team => "SEA"), method: "get", class: "btn btn-seahawks"  %>
<%= button_to "", filter_by_nfl_team_path(:nfl_team => "TB"), method: "get", class: "btn btn-buccaneers"  %>
</div>
<div class="row">
<%= button_to "", filter_by_nfl_team_path(:nfl_team => "TEN"), method: "get", class: "btn btn-titans"  %>
<%= button_to "", filter_by_nfl_team_path(:nfl_team => "WAS"), method: "get", class: "btn btn-football_team"  %>
</div


  </div>
  </div>
