<h1> Name: <%= @player.name %></h1>
<h1> Position: <%= @player.position%></h1>
<h1> NFL TEAM: <%= @player.nfl_team %></h1>
<h1> Projected Season Points: <%= @player.projected_points %></h1>
<%= if @player.team %>
<h1> Fantasy Team: <%= @player.team %></h1>
<%= else %>
<h1> Fantasy Team: None so far, Free Agent </h1>
<%= end %>