<h1> Name: <%= @player.name %></h1>
<h1> Position: <%= @player.position%></h1>
<h1> NFL TEAM: <%= @player.nfl_team %></h1>
<h1> Projected Season Points: <%= @player.projected_points %></h1>
<h1> Fantasy Team: <%= @player.team.name %></h1>


<%= button_to  "Add Player", edit_player_path, method: "get", class: "btn btn-outline-success"  %>
<%= button_to  "Release Player ", edit_player_path %>


